---
layout: default
---
<div class="p-container">
<div class="posts">
  {% for post in site.posts reversed%}
  {% if post.tag == "beginner" %}
   <a href="{{ site.baseurl }}{{ post.url }}">
    <article class="post">
      <h2>{{ post.title }}</h2>
    </article>
   </a>
  {% endif %}
  {% endfor %}
</div>
</div> 

<!--{% for post in site.posts reversed %}

<div class ="section fp-auto-height post-sec">
  <div class='space-ship'>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
      </div>
 <a href="{{ site.baseurl }}{{ post.url }}">
  <article class ="post">
      <h1>{{ post.title }}</h1>
   <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> 
  </article>
 </a>
</div>
{% endfor %}
-->
