---
layout: default
---
<!-- <div class="p-container">
<div class="posts">
  {% for post in site.posts %}
   <a href="{{ site.baseurl }}{{ post.url }}">
    <article class="post">
      <img src="{{ site.baseurl }}/images/{{post.image}}" />
      <h1>{{ post.title }}</h1>

    </article>
   </a>
  {% endfor %}
</div>
</div> -->

{% for post in site.posts reversed %}

<div class ="section fp-auto-height post-sec">
  <div class='space-ship'>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
        <div class="box-row">
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
          <div class='d-box'></div>
        </div>
      </div>
 <a href="{{ site.baseurl }}{{ post.url }}">
  <article class ="post">
      <h1>{{ post.title }}</h1>
  <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
 </a>
</div>
{% endfor %}
