---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "grid";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {

  font-size: 100%;
}

body {
	background: $white;

  font-size: 18px/1.4;
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkGray;
  overflow-x: hidden;
}



.container {
  margin: 0 auto;
  max-width: 840px;
 
  padding: 40px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-size: 17px;
  margin-left: 55px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* General Styles */

.blk {
    font-size: 20px;
    color: #fdfdfd;
    background-color: #000;
    padding: 10px;
    -webkit-box-shadow: $close-shadow;
    -moz-box-shadow: $close-shadow;
    box-shadow: $close-shadow;

}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

/*
 .masthead
*/

.masthead {
  background-color: transparent;
  @include mobile {
    text-align: center;
  }
}

.mast-paper {
  background-image: url("images/website-hero.jpg");
  background-position: 50% 80%;
}

.site-logo {
  border-bottom: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  background-color: #fdfdfd;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.sticky-logo {
  @include laptop {
    position: absolute;
    z-index: 10;
  }
  border-bottom: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  background-color: #fdfdfd;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;

}
.logo-footer {
  height: 100px;
  position: absolute;
  background-color: #fdfdfd;
  border-radius: 20px;
  margin-top: -45px;
  margin-left: 50%;
}
.fix {
  position: fixed;
}
 .site-logo:hover {
  animation: wobble 2s ease;
  
 }
.site-name {
  margin-top: 140px;
  margin-left: 140px;
  cursor: pointer;
  color: #fdfdfd;
  font-family: $helveticaNeue;
  font-weight: 700;
  font-size: 78px;
  letter-spacing: 4px;
}
.site-name:hover.mast-paper {
  background-image: url("images/website-hero-sunset.jpg");
}

.site-description {
  display: none;
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  @include mobile {
    margin: 3px 0;
  }
}


.site-info { 
  margin-top: 40px;
  margin-left: 15%;
  max-width: 900px;

  @include laptop {
    margin-left: 0px;
  }
  @include ipad {
    margin-left: -200px;
  }
  @include mini-mobile {
    padding: 80px;
    margin-left: -280px;
  }

  .cta-learn {
    @include kindle {
      margin-left: 200px;
    }
   
    border: 1px solid #000;
    background-color: #000;
    color: #fdfdfd;
    padding: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}


  ul {
    list-style: none;
    padding: 0px;
    position: relative; 
    left: 200px;
  }

  ul li {
    position: relative;
    display: block;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #fdfdfd;
    background-color: #000;
    padding: 10px;
    width: 10%;
    cursor: pointer;
    -webkit-box-shadow: $close-shadow;
    -moz-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
    
}
  ul li:hover {
     animation: wobble 2s ease-in;
  }  
  .blk-wrapper {
    border: 1px solid #000;
    @include kindle {
      margin-left: -150px;
    }
    @include mobile {
      margin-left: -220px;
    }
    @include mini-mobile {
      margin-left: -260px;
    }
  }
  .how-blk {
    top: 0px;
    left: 460px;
    transition: top 2s ease;
  }

  .to-blk {
    top: -250px;
    left: 555px;
    transition: left 2s ease-in;
  }
  .code-blk {
   top: -190px;
   left: 460px;
   height: 200px;
   margin-top: 4px;
   margin-bottom: 4px;
         
  }
  .code-blk li {  
    margin-bottom: 30px;
    margin-right: 10px;    
    float: left;
  }
  .code-blk li:nth-of-type(odd) {
    top: 30px;
  }
  
  .js-blk {
  @include mini-mobile {
   left: 600px;

  }
   top: -200px;
   left: 800px;
   transition: all 0.2s ease-in;
   transform: rotate(10deg);
  }
  .js-blk li {
    @include mini-mobile {
     width: 100px;
    }
    float: left;
  }
}

.animate-blk {
  animation: wobble 5s ease-in;
}

@keyframes wobble {
  0% {transform: rotate(2deg)}
  15% {transform: rotate(-2deg)}
  30% {transform: rotate(2deg)}
  45% {transform: rotate(-2deg)}
  60% {transform: rotate(2deg)}
  75% {transform: rotate(-2deg)}
  90% {transform: rotate(2deg)}
  100% {transform: rotate(0deg)}
}

.box-burger {
  @include laptop {
    display: block;
  }
  @include mobile {
    position: absolute;
  }
  display: none;
  cursor: pointer;
  max-width: 33px;
  position: fixed;
  right: 0px;
  z-index: 10;
  margin-top: 30px;
  margin-right: 60px;


}


.row {
  display: flex;
  margin-bottom: 3px;
}

.box {
  background-color: #000;
  width: 8px;
  height: 5px;
  display: block;
  margin-left: 1px;
}
.box:nth-of-type(2){
  width: 14px;
}

nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a { 
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.b-nav { 
  text-align: center;
  margin-bottom: 100px;
}

.material-icons {
  margin-left: -8px;
}
.material-icons.md-18 { font-size: 14px; }
.s-nav {
  width: 100%;
  height: 100px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #adadad;
  overflow: hidden;
  text-align: center;
  z-index: 4;
  a {
    display: block;  
    font-family: sans-serif;
    font-size: 9px;
    color: #000;
    text-shadow: 1px -1px -6px #000;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: -4px;
  }
  .s-brand {
    font-size: 18px;
  }
}

.ad-hero {
  width: 100%;
  height: 200px;
  background-color: #fdfdfd;
  z-index: -1;
}

.sticky-nav {
  transition: all 1s ease-out;
  position: fixed;
  width: 100%;
  height: 61px;
  background-color: #fdfdfd;  
  border-bottom: 1px solid #adadad;
  z-index: 1;  
}
.clip-img {
  width: 100%;
  height: 60px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
/*
  Hero

*/

#hero {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  
}

/*
 .main

*/

.p-container {
  border: 1px solid #000;
  margin: 0 auto;
  padding: 40px;
  width: 100%;
}
.posts {
  @include wide-laptop {
    padding-left: 180px;
  }
  @include kindle {
    padding-left: 70px;
  }
  @include mobile {
    padding-left: 0px;
    margin-left: -20px;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 70px;
  
}
.posts > a > .post {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%; 
  background-color: #000;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;
  transition: all 0.2s ease-in; 

  h1 {
   color: #fff;
  }
}
.posts > a > .post:hover {
  transform: rotate(1deg);
}
/*jigsaw*/

/*
* Decrement nth type based on media screen width
* */


.posts > a:nth-of-type(n + 4) > .post:before {
  @include mini-mobile {
    margin-left: 50px;
  }
  color: white;
  background-color: #fff;
  content: 'H';
  position: absolute;
  height: 20px;
  width: 100px;
  margin-left: 130px;
  margin-top: -21.6px;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  border-radius: 3px;
}
@include wide-laptop {
  .posts > a:nth-of-type(n + 3) > .post:before {
  @include mini-mobile {
    margin-left: 50px;
  }
  color: white;
  background-color: #fff;
  content: 'H';
  position: absolute;
  height: 20px;
  width: 100px;
  margin-left: 130px;
  margin-top: -21.6px;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  border-radius: 3px;
 }
}
@include mini-top {
  .posts > a:nth-of-type(n + 2) > .post:before {
    @include mini-mobile {
      margin-left: 50px;
    }
    color: white;
    background-color: #fff;
    content: 'H';
    position: absolute;
    height: 20px;
    width: 100px;
    margin-left: 130px;
    margin-top: -21.6px;
    border-left: 1px solid $lightGray;
    border-right: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    border-radius: 3px;
  }
}


.posts > a > .post:after {
  @include mini-mobile {
    margin-left: 50px;
  }
  color: white;
  background-color: #000;
  content: '';
  position: absolute;
  height: 35px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-left: 130px;
  margin-top: 0px;
  padding-bottom:  -30px;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;
}

.fp-container{
   display: flex;
   flex-direction: row;
   height: 100%;
   width: 100%;
   transition: all ease-in 2s;
}

.fp-container .post {
  @include wide-laptop {
    padding: 75px;
    margin-left: 180px;
  }
  @include laptop {
   width: 75%;
   margin-left: 0px;
  }
  @include ipad {
    padding-right: 100px;
  }
  @include lg-mobile {
    width: 100%;
  }
  @include mobile { 
   padding: 30px;
   padding-top: 50px;
  }

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  padding: 70px;
  position: relative;
  margin-left: 210px;
  .fp-title {
    @include wide-laptop {
      padding: 60px;
    }
    @include ipad {
      padding: 10px;
    }
    @include kindle {
      padding: 0px;
    }
    font-weight: 700;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.hiddenbar {
  @include mini-mobile {
    padding-left: 60px;
  }
  position: fixed;
  display: none;
  z-index: 30;
  right:-500px;
  background-color: #fff;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  transition: all ease 2s;
  .box-cross {
    z-index: 50;
    cursor: pointer;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 270px;
    #row-1 {
      transform: rotate(40deg);
      margin-bottom: -30px;
    }
    #row-2 {
      transform: rotate(-40deg);
    }
    .row {
      display: flex;
      margin-bottom: 1px;
      margin-left: 2px;  
    }
    .box {
      background-color: #000;
      width: 20px;
      height: 5px;
      display: block;
      margin-bottom: 1px;
    }
    .box:nth-of-type(2){
      width: 14px;
    }
  }
}
  
.adbar {
  @include laptop {
    width: 30%;
  }
  @include lg-mobile {
    display: none;
  }
  padding: 30px;
  background-color: #fdfdfd;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
  height: 900px;
  overflow: hidden;
}

.sidebar {
  @include laptop {
   display: none;
  }
  padding: 30px;
  background-color: #fdfdfd;
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 0;
  height: 800px; 
  overflow: hidden;
  
  .more {
   text-align: center;
  }
  .archive p {
    font-size: 15px;
  }
  .archive p a:link {
    color: #fff;
  }
  .archive p a:visited {
    color: #fff;
  }
}

.wrapper-footer {
  margin-top: 80px;
  border-top: 1px solid #ddd;
  z-index: 100;
}

footer {
  padding: 20px 0;
  text-align: center;
}

footer span {
  margin-left: 5px;
}


/* LEX Styles*/

#lex-wrapper {
  font-family: monospace;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 700px;
  padding-left: 30px;
  padding-right: 30px;
  
 
}
#lex-container {
  padding: 0px;
  height: 50%;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

#lex-nav {
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #fbb040;
  display: flex;
  flex-direction: row;
  box-shadow:   2px 3px 5px 0px rgba(0,0,0,0.75)
}

#lex-foot {
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #fbb040;
  display: flex;
  flex-direction: row;
   box-shadow:  2px 3px 5px 0px rgba(0,0,0,0.75)
}
#lex-logo {
  position: relative;
  top: 120px; 
  margin-left: 10px; 
}
.speech-bubble {
 font-size: 14px;
 color: #fff;
 display: none;
 position: relative;
 border-radius: 4px;  
 top: 115px;
 left: 90px;
 width: 24%;
 height: 14%;
 margin-left: 10px;
 padding: 5px;
 background-color: #00aabb;
 z-index: 10;
}
.speech-bubble p {
  margin-top: 4px;

}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
#lex-nav .btn {
  display: flex;
  
  height: 30px;
  width: 70px;
  margin-top: 10px;
  margin-left: 150px;
    
  border: none;
  background-color: #6540fb;
  cursor: pointer; 
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

#lex-nav .btn p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
   
}

#brand {
  font-size: 55px;
  font-weight: 900;  
  margin: auto;
  background-color: #94512d;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;    
}

#editor {
  height: 100%;
  width: 50%;
}
#iframe {
  font-family: monospace;
  font-size: 17px;
  height: 100%;
  width: 50%;
  color: #fff;
  background-color: #000;
  overflow-wrap: break-word;
  padding-left: 40px;
}
#iframe:before {
   content: '';
  position: absolute;
  margin-left: 90px;
  margin-top: 47px;
  transform: rotate(-60deg);
  width: 150px;
  height: 11px;
  background-color: #fff;
  opacity: 0.08;
  z-index: 10px;
  
}
#iframe:after {
  content: '';
  position: absolute;
  margin-left: 95px;
  margin-top: 47px;
  transform: rotate(-60deg);
  width: 180px;
  height: 11px;
  background-color: #fff;
  opacity: 0.04;
  z-index: 10px;
}

.output-row {
  display: flex;  
  flex-direction: row;

}
.output-row .output {
  color: #40b0fb;
  margin-top: 3px;  
}
.ace_editor,
.ace_editor div,
{
  font-family: monospace, sans-serif;
}

.material-icons {
  margin-top: px;
  margin-left: 5px;
  font-size: 18px;
}

.bug-report {
  background-color: red;
  color: #fff;
  height: 30px;
  width: 50%;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px; 
  display: none;
  
}

.bug-report p {
  margin-left: 10px;
  margin-top: 10px;
}



@import "highlights";
@import "svg-icons";
