---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "grid";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {

  font-size: 100%;


body {
	background: $white;
  padding: 0px;
  margin: 0px;
  font-size: 16;
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkGray;
  overflow-x: hidden;
}
main {
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 840px;

  padding: 40px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  color: $gray;
}
p {
  margin: 15px 0;
}
a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-size: 16px;
  margin-left: 55px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* General Styles */

.blk {
    font-size: 20px;
    color: #fdfdfd;
    background-color: #000;
    padding: 10px;
    -webkit-box-shadow: $close-shadow;
    -moz-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

/*
 .masthead
*/

.masthead {
  background-color: transparent;
  @include mobile {
    text-align: center;
  }
}

.site-logo {
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  @include mini-pad {
    display: none;
  }
}
.m-logo {
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
  display: none;
  @include mini-pad {
    display: block;
  }
}
.home-logo {
  position: absolute;
  background-color: transparent;
  height: 30px;
  top: 11px;
  left: 50%;
  z-index: 10;
}
.bar-logo {
  position: relative;
  top: 5px;
  left: 5px;
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
}
.logo-footer {
  height: 90px;
  position: relative;
  top: 59px;
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: auto;
}
.logo-footer-s {
  height: 90px;
  position: relative;
  top: 59px;
  left: 45%;
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: auto;
}
.fix {
  position: fixed;
}
 .site-logo:hover {
  animation: wobble 2s ease;
 }
.site-name {
  margin-top: 140px;
  margin-left: 140px;
  cursor: pointer;
  color: #fdfdfd;
  font-family: $helveticaNeue;
  font-weight: 700;
  font-size: 78px;
  letter-spacing: 4px;
}
.site-name:hover.mast-paper {
  background-image: url("images/website-hero-sunset.jpg");
}
.site-description {
  display: none;
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  @include mobile {
    margin: 3px 0;
  }
}
.site-info {
  margin-top: 40px;
  margin-left: 15%;
  max-width: 900px;
  @include laptop {
    margin-left: 0px;
  }
  @include ipad {
    margin-left: -200px;
  }
  @include mini-mobile {
    padding: 80px;
    margin-left: -280px;
  }
  .cta-learn {
    @include kindle {
      margin-left: 200px;
    }
    @include ipad {
      margin-left: 300px;
    }
    @include mini-mobile {
      margin-left: 180px;
    }
    border: 1px solid #000;
    background-color: #000;
    color: #fdfdfd;
    padding: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

  ul {
    list-style: none;
    padding: 0px;
    position: relative;
    left: 50%;
  }

  ul li {
    position: relative;
    display: block;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #fdfdfd;
    background-color: #000;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    -webkit-box-shadow: $close-shadow;
    -moz-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
    @include mini-mobile {
      font-size: 35px;
      width: 60px;
    }

}
  ul li:hover {
     animation: wobble 2s ease-in;
  }

  .blk-wrapper {
    position: relative;
    margin-top: -200px;
    top: 150px;
    padding-right: 80px;
    @include kindle {
     margin-left: -150px;
     padding-top: 160px;
    }
    // @include lg-mobile {
    //
    // }
    @include mobile {
      margin-left: -220px;
    }
    @include s-mini-mobile {
      margin-left: -250px;
    }
 }
  .how-blk {
    top: 0px;
    left: 460px;
    transition: top 2s ease;
  }

  .to-blk {
    top: -250px;
    left: 555px;
    transition: left 2s ease-in;
  }
  .code-blk {
   top: -190px;
   left: 460px;
   height: 200px;
   margin-top: 4px;
   margin-bottom: 4px;
   @include mini-mobile {
    margin-top: 60px;
   }

  }
  .code-blk li {
    margin-bottom: 30px;
    margin-right: 10px;
    float: left;
  }
  .code-blk li:nth-of-type(odd) {
    top: 30px;
  }

  .js-blk {
  @include mini-mobile {
   left: 600px;

  }
   top: -200px;
   left: 800px;
   transition: all 0.2s ease-in;
   transform: rotate(10deg);
  }
  .js-blk li {
    @include mini-mobile {
     width: 100px;
    }
    background-color: $lexOrange;
    float: left;
  }

.cta-install-modal {
  display: none;
  height: 150px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 200;
  background-color: #fff;
  border: 5px solid $lexOrange;
  text-align: center;
  .cta-install-btn {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 340px;
    margin: auto;
    border-radius: 2px;
  }
  .cta-install-btn:hover {
    background-color: $lightGray;
    color: #000;
    cursor: pointer;
  }
}
.animate-blk {
  animation: wobble 5s ease-in;
}

@keyframes wobble {
  0% {transform: rotate(2deg)}
  15% {transform: rotate(-2deg)}
  30% {transform: rotate(2deg)}
  45% {transform: rotate(-2deg)}
  60% {transform: rotate(2deg)}
  75% {transform: rotate(-2deg)}
  90% {transform: rotate(2deg)}
  100% {transform: rotate(0deg)}
}

.box-burger {
  @include kindle {
    right: 0px;
  }
  cursor: pointer;
  max-width: 28px;
  position: absolute;
  top: -13px;
  right: 0px;
  z-index: 10;
  margin-top: 30px;
  margin-right: 60px;

}
.df-brgr {
  right: -20px;
}
.row {
  display: flex;
  margin-bottom: 3px;
}
.box {
  background-color: #000;
  width: 8px;
  height: 5px;
  display: block;
  margin-left: 1px;
}
.box:nth-of-type(2){
  width: 14px;
}
.box:nth-of-type(1){
  border-radius: 10px;
}
.box:nth-of-type(3){
  border-radius: 10px;
  background-color: $lexOrange;
}

nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}
.b-nav {
  text-align: center;
  margin-bottom: 100px;
}
.material-icons {
  margin-left: -8px;
}
.material-icons.md-18 { font-size: 14px; }
.s-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid $lightGray;
  text-align: center;
  z-index: 4;
  display: flex;
  flex-direction: row;
}
.ad-hero {
  width: 100%;
  height: 200px;
  background-color: #fdfdfd;
  border-bottom: 5px solid #000;

}
.sticky-nav {
  transition: all 1s ease-out;
  position: fixed;
  width: 100%;
  height: 61px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #adadad;
  z-index: 1;
}
.clip-img {
  width: 100%;
  height: 60px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
/*
  Hero

*/
#hero {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

/*
 .main

*/
.p-container {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;
  border-top: 0.5px solid $lightGray;
  

}
.posts {
  @include wide-laptop {
    padding-left: 180px;
  }
  @include kindle {
    padding-left: 70px;
  }
  @include mobile {
    padding-left: 0px;
    margin-left: -20px;
  }

  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 70px;

}
.posts > a > .post {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border: 1px solid $lexOrange;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;
  transition: all 0.2s ease-in;

  h2 {
   color: $lexOrange;
   font-size: 18px;
   margin-left: 5px;

  }
}
.posts > a > .post:hover {
  transform: rotate(1deg);
}


.sticky-page {
  width: 100%;
  height: 100%;
}

.fp-container {
width: 100%;
height: 100%;
}

.w-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;

}
.switch {
  display: none;
  position: fixed;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid $lexOrange;
  z-index: 9999;
}
.content-bucket {
  width: 100%;
  overflow:  hidden;
  transition: width 2s ease;
  display: block;
}
.code-bucket {
  position: relative;
  display: none;
  flex-direction: row;
  width: 100%;
  height: 800px;
  margin-top: 20px;
  background-color: #fff;
  z-index: 1;
  @include mini-pad {
      flex-direction: column;
  }
  @include landscape {
    flex-direction: row;
  }
}
.w-container .code-bucket #classic-editor {
  height: 650px;
  width: 70%;
  @include mini-pad {
    width: 100%;
    height: 75%;
  }
  @include landscape {
    height: 650px;
    width: 70%;
  }
}
.w-container .code-bucket .console {
  height: 700px;
  width: 30%;
  @include mini-pad {
      width: 100%;
      height: 25%;
  }
  @include landscape {
    height: 700px;
    width: 30%;
  }
}
.menu {
  display: none;
  position: relative;
  bottom: 150px;
  height: 50px;
  width: 70%;
  z-index: 34;
  background-color: #000;
  @include mini-pad {
     position: fixed;
     width: 100%;
     bottom: 0px;
     z-index: 9999;
  }
  @include landscape {
    position: relative;
    bottom: 150px;
    width: 70%;
    z-index: 34;
  }
  .run {
    position: relative;
    width: 60px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: auto;
    background-color: $lexOrange;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    p{
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

.w-container .switch {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 4px solid $lexOrange;
  background-color: #fff;
  box-shadow: $close-shadow;
  z-index: 99;

}
.w-container .switch:hover {
  cursor: pointer;
}
.content-bucket .code-switch {
  transform: translateX(25%);
  right: 0px;
  .console-ico {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #000;
  }
}
.code-bucket .content-switch {
  left: 0px;
  transform: translateX(-25%);
  .content-ico {
    position: relative;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    color: #000;
  }
}
.code-bucket .bug-report {
  right: 0px;
  top: 50%;
  position: fixed;
  z-index: 999;
}
.w-container .post {
  font-family: Cambria, Georgia, serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
  position: relative;
  background-color: #fff;
  padding: 170px;
  margin-left: 280px;
  @include wide-laptop {
    margin-left: 180px;
   
  }
  @include ipad {
    padding: 120px;
    margin-left: 180px;
   
  }
  // @include laptop {
  //  width: 75%;
  //  margin-left: 0px;
  // }
  @include mini-pad {
    width: 100%;
    margin-left: 0px;
  }
  @include lg-mobile {
    width: 100%;
  }
  @include mobile {
   padding: 30px;
   padding-top: 50px;
  }
  .fp-title {
    @include wide-laptop {
      padding: 60px;
    }
    @include ipad {
      padding: 10px;
    }
    @include kindle {
      padding: 0px;
    }
    font-weight: 700;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  h1 {
    text-align: center;
    padding: 10px;
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    color: #000;
    padding: 8px;   
  }
  h3, h4 {
    border-bottom: 2px solid $lightGray;
    padding-bottom: 8px;
    -webkit-box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
  }
  h3 {
    font-size: 20px;
    width: 75%;
  }
  h4 {
    font-size: 21px;
    width: 50%;
  }
  h5 {
    width: 25%;
  }

  blockquote {
    margin: 1.8em .8em;
    border: 3px solid $lexOrange;
    padding: 5px;
    background-color: #fff;
    padding: 0.1em 1em;
    color: #000;
    font-size: 19px;
    -moz-box-shadow: $close-shadow;
    -webkit-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
  }
}
.comments {
 @include ipad {
   width: 80%;
 }
 width: 50%;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
 margin-top: 15px;
}
.hiddenbar {
  @include mini-mobile {
    padding-left: 60px;
  }
  position: fixed;
  z-index: 999;
  top: 0px;
  right:-500px;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  // padding-left: 30px;
  // padding-right: 30px;
  border-left: 5px solid $lexOrange;
  transition: all ease 2s;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  -webkit-transition: right 0.5s ease-out;
 -moz-transition: right 0.5s ease-out;
 -o-transition: right 0.5s ease-out;
  transition: right 0.5s ease-out;

  .box-cross {
    z-index: 50;
    cursor: pointer;
    width: 40px;
    transition: width ease-out 0.5s;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 270px;
    margin-right: 20px;
    #row-1 {
      transform: rotate(40deg);
      margin-right: 1px;
    }
    #row-2 {
      transform: rotate(-40deg);
      margin-right: 1px;
    }
    .row {
      display: flex;
      margin-bottom: 1px;
      margin-left: 2px;
    }
    .box {
      background-color: #000;
      width: 20px;
      height: 5px;
      display: block;
      margin-bottom: 1px;
    }
    .box:nth-of-type(2){
      width: 14px;
    }
  }
  .more {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .archive {
      border-top: 3px solid $lightGray;
      border-bottom: 3px solid $lightGray;
      text-align: center;
      font-size: 20px;
      color: #000;
      background-color: #fff;
      padding: 10px;
      margin: 0px;
      width: 100%;
    }
    .archive:hover {
     cursor: pointer;
     background-color: $lexOrange;
     color: #fdfdfd;
    }
     a:link {
      color: #000;
    }
     a:visited {
      color: #000;
    }
}

.prev {
  position: absolute;
  z-index: 4;
  top: 200px;
  cursor: pointer;
  border-style: solid;
  margin-top: -38px;
 -webkit-transform: translate3d(0,0,0);
 -ms-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
 border-style: dotted !important;
 left: 45px;
 width: 0;
 border-color: transparent #000 transparent transparent;
 border-width: 20.5px 9.5px 20.5px 0 !important;
 @include mini-pad {
   left: 15px;
 }
}
.prev:hover {
  border-width: 20.5px 20px 20.5px 0 !important;
}
.next {
	position: absolute;
  z-index: 4;
  top: 200px;
  cursor: pointer;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  right: 45px;
  width: 0px;
  border-color: transparent transparent transparent #fff;
	border-style: dotted !important;
  border-color:  transparent transparent transparent #000;
  border-width: 20.5px 0 20.5px 9.5px !important;
  @include mini-pad {
     right: 15px;
   }
}
.next:hover {
  border-width: 20.5px 0px 20.5px 20px !important;
}
.adbar {
  @include laptop {
    width: 30%;
  }
  @include lg-mobile {
    display: none;
  }
  width: 10%;
  padding: 30px;
  background-color: #fdfdfd;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
  height: 900px;
  overflow: hidden;
}

.sidebar {
  @include mini-pad {
   display: none;
  }
  padding: 10px;
  margin-right: 3px;
  position: fixed;
  top: 45px;
  left: 0px;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  .more {
   text-align: center;
  }

}


.brand-words {
	color: #fdfdfd;
	text-shadow: 1px 1px #000;
	font-family: 'Cinzel', serif;
}
.brand-words h2 {
	color: #fdfdfd;
	font-size: 70px;
	left: 13%;
	top: 40%;
}
.brand-words p {
	width: 80%;
	font-size: 28px;
	margin-left: 8%;

}

.section {
  text-align:center;
  font-size: 3em;
  display: flex;
  align-items: center;

}
.post-sec {
    background-color: #fff;
    border-top: 5px solid $lightGray;
    box-shadow: $close-shadow;
    padding: 0px;
    margin: 0px;
    a {
      h1 {
        @include mini-pad{
          font-size: 50px;
        }
        // @include kindle {
        //   font-size: 50px;
        // }
        // @include lg-mobile {
        //     font-size: 70px;
        // }
        @include mobile {
             font-size: 45px;
        }
        @include mini-mobile {
             font-size: 35px;
        }
       font-size: 80px;
       margin-bottom: 200px;
       font-weight: bold;
       background-color: #fff;
       color: #000;
       padding: 10px;

       -webkit-box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
       -moz-box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
       box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);

       -webkit-background-clip: content-box;
       -moz-background-clip: content-box;
       background-clip: content-box;
      }
      h1:hover {
        -webkit-box-shadow: $close-shadow;
        -moz-box-shadow: $close-shadow;
        box-shadow: $close-shadow;
      }

   }

}	

@import "highlights";
@import "svg-icons";
	
}
