---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "grid";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {

  font-size: 100%;
}

body {
	background: $white;
  padding: 0px;
  margin: 0px;
  font-size: 18px/1.4;
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkGray;
  overflow-x: hidden;
}
main {
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 840px;

  padding: 40px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
  color: $gray;
}
p {
  margin: 15px 0;
}
a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  font-size: 17px;
  margin-left: 55px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* General Styles */

.blk {
    font-size: 20px;
    color: #fdfdfd;
    background-color: #000;
    padding: 10px;
    -webkit-box-shadow: $close-shadow;
    -moz-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

/*
 .masthead
*/

.masthead {
  background-color: transparent;
  @include mobile {
    text-align: center;
  }
}

.site-logo {
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  @include mini-pad {
    display: none;
  }
}
.m-logo {
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
  display: none;
  @include mini-pad {
    display: block;
  }
}
.home-logo {
  position: absolute;
  background-color: transparent;
  height: 30px;
  top: 11px;
  left: 50%;
  z-index: 10;
}
.bar-logo {
  position: relative;
  top: 5px;
  left: 5px;
  height: 45px;
  margin-left: 5px;
  margin-top: 5px;
}
.logo-footer {
  height: 90px;
  position: relative;
  top: 59px;
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: auto;
}
.logo-footer-s {
  height: 90px;
  position: relative;
  top: 59px;
  left: 45%;
  background-color: #fdfdfd;
  border-radius: 20px;
  margin: auto;
}
.fix {
  position: fixed;
}
 .site-logo:hover {
  animation: wobble 2s ease;
 }
.site-name {
  margin-top: 140px;
  margin-left: 140px;
  cursor: pointer;
  color: #fdfdfd;
  font-family: $helveticaNeue;
  font-weight: 700;
  font-size: 78px;
  letter-spacing: 4px;
}
.site-name:hover.mast-paper {
  background-image: url("images/website-hero-sunset.jpg");
}
.site-description {
  display: none;
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  @include mobile {
    margin: 3px 0;
  }
}
.site-info {
  margin-top: 40px;
  margin-left: 15%;
  max-width: 900px;
  @include laptop {
    margin-left: 0px;
  }
  @include ipad {
    margin-left: -200px;
  }
  @include mini-mobile {
    padding: 80px;
    margin-left: -280px;
  }
  .cta-learn {
    @include kindle {
      margin-left: 200px;
    }
    @include ipad {
      margin-left: 300px;
    }
    @include mini-mobile {
      margin-left: 180px;
    }
    border: 1px solid #000;
    background-color: #000;
    color: #fdfdfd;
    padding: 5px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

  ul {
    list-style: none;
    padding: 0px;
    position: relative;
    left: 50%;
  }

  ul li {
    position: relative;
    display: block;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #fdfdfd;
    background-color: #000;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    -webkit-box-shadow: $close-shadow;
    -moz-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
    @include mini-mobile {
      font-size: 35px;
      width: 60px;
    }

}
  ul li:hover {
     animation: wobble 2s ease-in;
  }

  .blk-wrapper {
    position: relative;
    top: 200px;
    padding-right: 80px;
    @include kindle {
     margin-left: -150px;
     padding-top: 160px;
    }
    // @include lg-mobile {
    //
    // }
    @include mobile {
      margin-left: -220px;
    }
    @include s-mini-mobile {
      margin-left: -250px;
    }
  }
  .how-blk {
    top: 0px;
    left: 460px;
    transition: top 2s ease;
  }

  .to-blk {
    top: -250px;
    left: 555px;
    transition: left 2s ease-in;
  }
  .code-blk {
   top: -190px;
   left: 460px;
   height: 200px;
   margin-top: 4px;
   margin-bottom: 4px;
   @include mini-mobile {
    margin-top: 60px;
   }

  }
  .code-blk li {
    margin-bottom: 30px;
    margin-right: 10px;
    float: left;
  }
  .code-blk li:nth-of-type(odd) {
    top: 30px;
  }

  .js-blk {
  @include mini-mobile {
   left: 600px;

  }
   top: -200px;
   left: 800px;
   transition: all 0.2s ease-in;
   transform: rotate(10deg);
  }
  .js-blk li {
    @include mini-mobile {
     width: 100px;
    }
    background-color: $lexOrange;
    float: left;
  }
}
.cta-install-modal {
  display: none;
  height: 150px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 200;
  background-color: #fff;
  border: 5px solid $lexOrange;
  text-align: center;
  .cta-install-btn {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 340px;
    margin: auto;
    border-radius: 2px;
  }
  .cta-install-btn:hover {
    background-color: $lightGray;
    color: #000;
    cursor: pointer;
  }
}
.animate-blk {
  animation: wobble 5s ease-in;
}

@keyframes wobble {
  0% {transform: rotate(2deg)}
  15% {transform: rotate(-2deg)}
  30% {transform: rotate(2deg)}
  45% {transform: rotate(-2deg)}
  60% {transform: rotate(2deg)}
  75% {transform: rotate(-2deg)}
  90% {transform: rotate(2deg)}
  100% {transform: rotate(0deg)}
}

.box-burger {
  @include kindle {
    right: 0px;
  }
  cursor: pointer;
  max-width: 28px;
  position: absolute;
  top: -13px;
  right: 0px;
  z-index: 10;
  margin-top: 30px;
  margin-right: 60px;

}
.df-brgr {
  right: -20px;
}
.row {
  display: flex;
  margin-bottom: 3px;
}
.box {
  background-color: #000;
  width: 8px;
  height: 5px;
  display: block;
  margin-left: 1px;
}
.box:nth-of-type(2){
  width: 14px;
}
.box:nth-of-type(1){
  border-radius: 10px;
}
.box:nth-of-type(3){
  border-radius: 10px;
  background-color: $lexOrange;
}

nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}
.b-nav {
  text-align: center;
  margin-bottom: 100px;
}
.material-icons {
  margin-left: -8px;
}
.material-icons.md-18 { font-size: 14px; }
.s-nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid $lightGray;
  text-align: center;
  z-index: 4;
  display: flex;
  flex-direction: row;
}
.ad-hero {
  width: 100%;
  height: 200px;
  background-color: #fdfdfd;
  border-bottom: 5px solid #000;

}
.sticky-nav {
  transition: all 1s ease-out;
  position: fixed;
  width: 100%;
  height: 61px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #adadad;
  z-index: 1;
}
.clip-img {
  width: 100%;
  height: 60px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
/*
  Hero

*/
#hero {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

/*
 .main

*/
.p-container {
  border: 1px solid #000;
  margin: 0 auto;
  padding: 40px;
  width: 100%;

  border-bottom: 5px solid #000;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;

}
.posts {
  @include wide-laptop {
    padding-left: 180px;
  }
  @include kindle {
    padding-left: 70px;
  }
  @include mobile {
    padding-left: 0px;
    margin-left: -20px;
  }

  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 70px;

}
.posts > a > .post {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #000;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;
  transition: all 0.2s ease-in;

  h1 {
   color: #33cc99;
  }
}
.posts > a > .post:hover {
  transform: rotate(1deg);
}
/*jigsaw*/

/*
* Decrement nth type based on media screen width
* */


.posts > a:nth-of-type(n + 4) > .post:before {
  @include mini-mobile {
    margin-left: 50px;
  }
  color: white;
  background-color: #fff;
  content: 'H';
  position: absolute;
  height: 20px;
  width: 100px;
  margin-left: 130px;
  margin-top: -21.6px;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  border-radius: 3px;
}
@include wide-laptop {
  .posts > a:nth-of-type(n + 3) > .post:before {
  @include mini-mobile {
    margin-left: 50px;
  }
  color: white;
  background-color: #fff;
  content: 'H';
  position: absolute;
  height: 20px;
  width: 100px;
  margin-left: 130px;
  margin-top: -21.6px;
  border-left: 1px solid $lightGray;
  border-right: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  border-radius: 3px;
 }
}
@include mini-top {
  .posts > a:nth-of-type(n + 2) > .post:before {
    @include mini-mobile {
      margin-left: 50px;
    }
    color: white;
    background-color: #fff;
    content: 'H';
    position: absolute;
    height: 20px;
    width: 100px;
    margin-left: 130px;
    margin-top: -21.6px;
    border-left: 1px solid $lightGray;
    border-right: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    border-radius: 3px;
  }
}
.posts > a > .post:after {
  @include mini-mobile {
    margin-left: 50px;
  }
  color: white;
  background-color: #000;
  content: '';
  position: absolute;
  height: 35px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-left: 130px;
  margin-top: 0px;
  padding-bottom:  -30px;
  -webkit-box-shadow: $close-shadow;
  -moz-box-shadow: $close-shadow;
  box-shadow: $close-shadow;
}


.sticky-page {
  width: 100%;
  height: 100%;
}

.fp-container{
   width: 100%;
   height: 100%;
   background-color: #fbb040;
}

.w-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  display: none;
}
.switch {
  position: fixed;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid $lexOrange;
  z-index: 9999;
}
.content-bucket {
  width: 100%;
  overflow:  hidden;
  transition: width 2s ease;
  display: block;
}
.code-bucket {
  position: relative;
  display: none;
  flex-direction: row;
  width: 100%;
  height: 800px;
  margin-top: 20px;
  background-color: #fff;
  z-index: 1;
  @include mini-pad {
      flex-direction: column;
  }
  @include landscape {
    flex-direction: row;
  }
}
.w-container .code-bucket #classic-editor {
  height: 650px;
  width: 70%;
  @include mini-pad {
    width: 100%;
    height: 75%;
  }
  @include landscape {
    height: 650px;
    width: 70%;
  }
}
.w-container .code-bucket .console {
  height: 700px;
  width: 30%;
  @include mini-pad {
      width: 100%;
      height: 25%;
  }
  @include landscape {
    height: 700px;
    width: 30%;
  }
}
.menu {
  display: none;
  position: relative;
  bottom: 150px;
  height: 50px;
  width: 70%;
  z-index: 34;
  background-color: #000;
  @include mini-pad {
     position: fixed;
     width: 100%;
     bottom: 0px;
     z-index: 9999;
  }
  @include landscape {
    position: relative;
    bottom: 150px;
    width: 70%;
    z-index: 34;
  }
  .run {
    position: relative;
    width: 60px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: auto;
    background-color: $lexOrange;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    p{
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

.w-container .switch {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 4px solid $lexOrange;
  background-color: #fff;
  box-shadow: $close-shadow;
  z-index: 99;

}
.w-container .switch:hover {
  cursor: pointer;
}
.content-bucket .code-switch {
  transform: translateX(25%);
  right: 0px;
  .console-ico {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #000;
  }
}
.code-bucket .content-switch {
  left: 0px;
  transform: translateX(-25%);
  .content-ico {
    position: relative;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    color: #000;
  }
}
.code-bucket .bug-report {
  right: 0px;
  top: 50%;
  position: fixed;
  z-index: 999;
}
.w-container .post {
  font-family: Cambria, Georgia, serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
  padding: 70px;
  position: relative;
  background-color: #fff;
  margin-left: 280px;
  @include wide-laptop {
    padding: 75px;
    margin-left: 180px;
  }

  // @include laptop {
  //  width: 75%;
  //  margin-left: 0px;
  // }
  @include mini-pad {
    width: 100%;
    margin-left: 0px;
  }
  @include lg-mobile {
    width: 100%;
  }
  @include mobile {
   padding: 30px;
   padding-top: 50px;
  }
  .fp-title {
    @include wide-laptop {
      padding: 60px;
    }
    @include ipad {
      padding: 10px;
    }
    @include kindle {
      padding: 0px;
    }
    font-weight: 700;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  h1 {
    text-align: center;
    padding: 10px;
    font-size: 50px;
  }
  h2 {
    font-size: 38px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 8px;
    -moz-box-shadow: $close-shadow;
    -webkit-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
  }
  h3, h4 {
    border-bottom: 2px solid $lightGray;
    padding-bottom: 8px;
    -webkit-box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
  }
  h3 {
    font-size: 29px;
    width: 75%;
  }
  h4 {
    font-size: 21px;
    width: 50%;
  }
  h5 {
    width: 25%;
  }

  blockquote {
    margin: 1.8em .8em;
    border: 3px solid $lexOrange;
    padding: 5px;
    background-color: #fff;
    padding: 0.1em 1em;
    color: #000;
    font-size: 19px;
    -moz-box-shadow: $close-shadow;
    -webkit-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
  }
}
.comments {
 @include ipad {
   width: 80%;
 }
 width: 50%;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
 margin-top: 15px;
}
.hiddenbar {
  @include mini-mobile {
    padding-left: 60px;
  }
  position: fixed;
  z-index: 999;
  top: 0px;
  right:-500px;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  // padding-left: 30px;
  // padding-right: 30px;
  border-left: 5px solid $lexOrange;
  transition: all ease 2s;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
  -webkit-transition: right 0.5s ease-out;
 -moz-transition: right 0.5s ease-out;
 -o-transition: right 0.5s ease-out;
  transition: right 0.5s ease-out;

  .box-cross {
    z-index: 50;
    cursor: pointer;
    width: 40px;
    transition: width ease-out 0.5s;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 270px;
    margin-right: 20px;
    #row-1 {
      transform: rotate(40deg);
      margin-right: 1px;
    }
    #row-2 {
      transform: rotate(-40deg);
      margin-right: 1px;
    }
    .row {
      display: flex;
      margin-bottom: 1px;
      margin-left: 2px;
    }
    .box {
      background-color: #000;
      width: 20px;
      height: 5px;
      display: block;
      margin-bottom: 1px;
    }
    .box:nth-of-type(2){
      width: 14px;
    }
  }
  .more {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .archive {
      border-top: 3px solid $lightGray;
      border-bottom: 3px solid $lightGray;
      text-align: center;
      font-size: 20px;
      color: #000;
      background-color: #fff;
      padding: 10px;
      margin: 0px;
      width: 100%;
    }
    .archive:hover {
     cursor: pointer;
     background-color: $lexOrange;
     color: #fdfdfd;
    }
     a:link {
      color: #000;
    }
     a:visited {
      color: #000;
    }
}

.prev {
  position: relative;
  z-index: 4;
  top: 200px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
 -webkit-transform: translate3d(0,0,0);
 -ms-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
 border-style: dotted !important;
 left: 45px;
 width: 0;
 border-color: transparent #000 transparent transparent;
 border-width: 20.5px 9.5px 20.5px 0 !important;
 @include mini-pad {
   left: 15px;
 }
}
.prev:hover {
  border-width: 20.5px 20px 20.5px 0 !important;
}
.next {
	position: absolute;
  z-index: 4;
  top: 200px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  right: 45px;
  width: 0px;
  border-color: transparent transparent transparent #fff;
	border-style: dotted !important;
  border-color:  transparent transparent transparent #000;
  border-width: 20.5px 0 20.5px 9.5px !important;
  @include mini-pad {
     right: 15px;
   }
}
.next:hover {
  border-width: 20.5px 0px 20.5px 20px !important;
}
.adbar {
  @include laptop {
    width: 30%;
  }
  @include lg-mobile {
    display: none;
  }
  width: 10%;
  padding: 30px;
  background-color: #fdfdfd;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
  height: 900px;
  overflow: hidden;
}

.sidebar {
  @include mini-pad {
   display: none;
  }
  padding: 10px;
  margin-right: 3px;
  position: fixed;
  top: 45px;
  left: 0px;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  .more {
   text-align: center;
  }

}

#lex {
  display: none;
  position: absolute;
  left: 0px;
  color: #fff;
  width: 100px;
  margin-top: 11px;
  margin-left: 5px;
  padding: 1px;
  background-color: #000;
  border: 1px solid $lexOrange;
  border-radius: 3px;
  p{
    margin: auto;
    text-align: center;
    padding-top: 3px;

  }
}
.wrapper-footer {
  position: relative;
  margin-top: 80px;
  border-top: 1px solid #ddd;
  z-index: 100;
}
footer {
  padding: 20px 0;
  text-align: center;
}
footer span {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

/* LEX Styles*/

#lex-wrapper {
  font-family: monospace;
  height: 700px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid $lightGray;
}

#lex-b {
  height: 81.3%;
  position: relative;
  top: -170px;
  @include kindle {
      top: -170px;
  }
  @include mobile {
      top: -150px;
  }
}
#lex-container {
  position: relative;
  padding: 0px;
  height: 100%;
  width: auto;
  // overflow: hidden;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  @include ipad {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#lex-nav {
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #000;
  border-bottom: 5px solid #fbb040;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-shadow:   2px 3px 5px 0px rgba(0,0,0,0.75)
}

 .btn {
  display: flex;
  height: 30px;
  width: 70px;
  margin-top: 10px;
  margin-left: 150px;
  border: none;
  background-color: $lexOrange;
  cursor: pointer;
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}
.btn p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}
#talk {
  @include mobile {
    left: -100px;
  }
}
#classic {
  width: 152px;
  margin: auto;
  border-radius: 3px;
  border: 0.2 solid #fff;
  .caro-ico{
    position: relative;
    top: 50%;
    margin-right: 3px;
    transform: translateY(-40%);
  }
  @include mini-mobile {
    overflow-x: hidden;
    width: 33px;

  }
}
#lex-foot  #run {
  display: flex;
  justify-content: center;
  position: relative;
  top: -12px;
  // right: -50px;
  margin: auto;
}
#lex-foot {
  width: 100%;
  height: 60px;
  color: #fff;
  border-top: 7px solid #fbb040;
  background-color: #000;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-shadow:  2px 3px 5px 0px rgba(0,0,0,0.75)
}
#lex-logo {
  position: relative;
  top: 120px;
  margin: auto;
  z-index: 30;
}
.speech-bubble {
 font-size: 14px;
 text-align: center;
 color: #fff;
 background-color: #000;
 display: none;
 position: absolute;
 border-radius: 4px;
 border-top: 2px solid $lexOrange;
 border-bottom: 2px solid $lexOrange;
 border-right: 2px solid $lexOrange;
 top: 190px;
 left: 130px;
 width: auto;
 height: 14%;
 margin-left: 10px;
 padding: 5px;
 z-index: 32;
 box-shadow: $close-shadow;
}
.speech-bubble p {
  margin-top: 4px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #000;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}
#brand {
  font-size: 55px;
  font-weight: 900;
  margin: auto;
  color: #fff;
  @include mobile {
    display: none;
  }
}
#lex-content {
  height: 100%;  //height is important in portrait
  width: 33.7%;
  transition: width 1s ease-out;
  position: relative;
  background-color: #fdfdfd;
  overflow-wrap: normal;
  overflow-y: scroll;
  padding: 10px;
  border-right: 5px solid #fbb040;
  font-size: 18px;
  line-height: 26px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  z-index: 31;
  @include ipad {
      transition: height 1s ease-out;
      width: 100% !important; //width shouldn't be overridden in landscape
      height: 33.7%;
  }
  .resize-width {
    position: relative;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
    @include ipad {
        display: none;
    }
  }
  .resize-height {
    display: none;
    position: relative;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
    @include ipad {
        display: block;
    }
  }
  .resize-width:hover {
    cursor: pointer;
  }
  h1 {
    text-align: center;
    background-color:$lexOrange;
    padding: 10px;
    font-size: 30px;
  }
  h2 {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 8px;
    -moz-box-shadow: $close-shadow;
    -webkit-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
  }
  h3, h4 {
    border-bottom: 2px solid $lightGray;
    padding-bottom: 8px;
    -webkit-box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 5px -10px rgba(0,0,0,0.75);
  }
  h3 {
    width: 75%;
  }
  h4 {

    width: 50%;
  }
  h5 {
    width: 25%;
  }
  blockquote {
    margin: 1.8em .8em;
    border: 3px solid $lexOrange;
    padding: 5px;
    background-color: #fff;
    padding: 0.1em 1em;
    color: #000;
    font-size: 19px;
    -moz-box-shadow: $close-shadow;
    -webkit-box-shadow: $close-shadow;
    box-shadow: $close-shadow;
  }
}
#lex-editor {
  height: 100%;
  width: 43.7%;
  border-right: 5px solid #fbb040;

  @include ipad {
      width: 100%;
      height: 43.7%;
  }
}
.console {
  font-family: monospace;
  font-size: 17px;
  height: 100%;
  width: 23.7%;
  max-width: 100%;
  color: #fff;
  background-color: #000;
  overflow-wrap: break-word;
  padding-left: 40px;
  @include ipad {
      width: 100%;
      height: 23.7%;
  }

  .c-arrow {
    opacity: 1;
    animation: blink 3s infinite;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.console:before {
  content: '';
  position: absolute;
  margin-left: 90px;
  margin-top: 77px;
  transform: rotate(-60deg);
  width: 150px;
  height: 11px;
  background-color: #fff;
  opacity: 0.08;
  z-index: 10px;
}
.console:after {
  content: '';
  position: absolute;
  margin-left: 95px;
  margin-top: 77px;
  transform: rotate(-60deg);
  width: 180px;
  height: 11px;
  background-color: #fff;
  opacity: 0.04;
  z-index: 10px;
}
.output-row {
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.output-row .output {
  color: #40b0fb;
  margin-top: 3px;
}
// .ace_editor,
// .ace_editor *, div,
// {
//   font-family:Courier,Monaco,Menlo,"Ubuntu Mono",Consolas,source-code-pro,monospace;
// }
.material-icons {
  margin-top: px;
  margin-left: 5px;
  font-size: 18px;
}
.bug-report {
  background-color: red;
  color: #fff;
  height: 30px;
  width: 350px;
  border-radius: 5px;
  padding-bottom: 10px;
  position: relative;
  top: -11px;
  margin-left: 5px;
  display: none;
}
.bug-report p {
  margin-left: 10px;
  margin-top: 10px;
}
/* Full Page*/
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}


/* Custom CSS */

.slick-slide {
    margin: 0px !important;
    height: 100px;
	width: 11% !important;
}



#logo {
	margin-top: 15px;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	font-size: 38px;
}

.brand-words {
	color: #fdfdfd;
	text-shadow: 1px 1px #000;
	font-family: 'Cinzel', serif;
}
.brand-words h2 {
	color: #fdfdfd;
	font-size: 70px;
	left: 13%;
	top: 40%;
}
.brand-words p {
	width: 80%;
	font-size: 28px;
	margin-left: 8%;

}

.section {
  text-align:center;
  font-size: 3em;
  display: flex;
  align-items: center;

}
.post-sec {
    background-color: #fff;
    border-top: 5px solid $lightGray;
    box-shadow: $close-shadow;
    padding: 0px;
    margin: 0px;
    a {
      h1 {
        @include mini-pad{
          font-size: 50px;
        }
        // @include kindle {
        //   font-size: 50px;
        // }
        // @include lg-mobile {
        //     font-size: 70px;
        // }
        @include mobile {
             font-size: 45px;
        }
        @include mini-mobile {
             font-size: 35px;
        }
       font-size: 80px;
       margin-bottom: 200px;
       font-weight: bold;
       background-color: #000;
       color: #fff;
       padding: 10px;

       -webkit-box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
       -moz-box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);
       box-shadow: -1px 4px 8px -3px rgba(0,0,0,0.75);

       -webkit-background-clip: content-box;
       -moz-background-clip: content-box;
       background-clip: content-box;
      }
      h1:hover {
        -webkit-box-shadow: $close-shadow;
        -moz-box-shadow: $close-shadow;
        box-shadow: $close-shadow;
      }

    }



}

/*
*   Edits to fullpage css
*
*/


/*Edit Menu Settings*/

#fp-nav {
    margin: 30px;
}

#fp-nav ul li a span {
	background: #fdfdfd !important;
}



/* Edit Directional Arrows*/



.slick-prev {
	position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	border-style: dotted !important;
	left: 15px;
    width: 0;
     border-color: transparent #fff transparent transparent;
    border-width: 20.5px 10px 20.5px 0 !important;
}

.slick-prev:hover {
    border-width: 20.5px 20px 20.5px 0 !important;
}

.slick-next {
	position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    right: 15px;
    width: 0px;
    border-color: transparent transparent transparent #fff;
  	border-style: dotted !important;

    border-color:  transparent transparent transparent #fff;
    border-width: 20.5px 0 20.5px 10px !important;
}
.slick-next:hover {
    border-width: 20.5px 0px 20.5px 20px !important;
}


/*
* Custom Effects
**/


/*Space Ship */

.space-ship {
  width: 220px;
  position: relative;
  top: -11.4%;
  left: 0px;
}
.box-row{
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.d-box {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: relative;
  -webkit-box-shadow: -14px -6px 12px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: -14px -6px 12px -11px rgba(0,0,0,0.75);
  box-shadow: -14px -6px 12px -11px rgba(0,0,0,0.75);

}

.box-row:nth-of-type(1){
  -webkit-box-shadow: -10px -7px 12px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -10px -7px 12px -11px rgba(0,0,0,0.75);
box-shadow: -10px -7px 12px -11px rgba(0,0,0,0.75);
}
.box-row:nth-of-type(1) .d-box:nth-of-type(6) {
  display: none;
}
.box-row:nth-of-type(1) .d-box:nth-of-type(5) {
  display: none;
}
.box-row:nth-of-type(1) .d-box:nth-of-type(4)::after {
  content: '';
  width: 40px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-bottom: 1px solid $lightGray;

}
.box-row:nth-of-type(1) .d-box:nth-of-type(1) {
  background-color: #fbb040;
  border: none;
}
.box-row:nth-of-type(1) .d-box:nth-of-type(2) {
  background-color: #fbb040;
  border: none;
}
.box-row:nth-of-type(1) .d-box:nth-of-type(3) {
  background-color: #fbb040;
  border: none;
}
.box-row:nth-of-type(2) .d-box:nth-of-type(6) {
  display: none;
}
.box-row:nth-of-type(2) .d-box:nth-of-type(5) {
  display: none;
}
.box-row:nth-of-type(2) .d-box:nth-of-type(4) {
  display: none;
}

.box-row:nth-of-type(2) .d-box:nth-of-type(3)::after {
  content: '';
  width: 40px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-bottom: 1px solid $lightGray;
}

.box-row:nth-of-type(2) .d-box:nth-of-type(1) {
  background-color: #fbb040;
  border: none;
}
.box-row:nth-of-type(2) .d-box:nth-of-type(2) {
  background-color: #fbb040;
  border: none;
}
.box-row:nth-of-type(3) .d-box:nth-of-type(6) {
  display: none;
}
.box-row:nth-of-type(3) .d-box:nth-of-type(5) {
  display: none;
}
.box-row:nth-of-type(3) .d-box:nth-of-type(4) {
  display: none;
}
.box-row:nth-of-type(3) .d-box:nth-child(3) {
  opacity: 0;
  // animation: flame 4s infinite;
  background-color: orange;
}
.box-row:nth-of-type(3) .d-box:nth-of-type(2)::after {
  content: '';
  width: 40px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-bottom: 1px solid $lightGray;
}

.box-row:nth-of-type(3) .d-box:nth-of-type(1) {
  background-color: #fbb040;
  border: none;
}

.box-row:nth-of-type(4) .d-box:nth-of-type(6) {
  display: none;
}
.box-row:nth-of-type(4) .d-box:nth-of-type(5) {
  display: none;
}
.box-row:nth-of-type(4) .d-box:nth-of-type(4) {
  display: none;
}
.box-row:nth-of-type(4) .d-box:nth-of-type(3) {
  display: none;
}
.box-row:nth-of-type(4) .d-box:nth-of-type(2) {
  display: none;
}

.box-row:nth-of-type(4) .d-box:nth-of-type(1)::after {
  content: '';
  width: 40px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-bottom: 1px solid $lightGray;
}

/* Loader */
.ship-loader {
  @include mobile {
      width: 180px;
      animation: fly 4s infinite;
  }
  @include mini-mobile {
      width: 220px;
      left: 0px;
      animation: fly 4s infinite;
  }
  animation: fly 2s infinite;
  width: 220px;
  position: absolute;
  top: 50%;
  left:0px;
  transform: rotate(130deg);
  display: none;

}
@keyframes fly {
   0% {

    left: 0px;
  }

  100% {

    left: 1800px;
  }

}

.tile-row{
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.tile {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: relative;
  border: 1px solid grey;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* .tile:nth-of-type(1) {

}
 */
.tile-row:nth-of-type(1) .tile:nth-of-type(6) {
  display: none;
}
.tile-row:nth-of-type(1) .tile:nth-of-type(5) {
  display: none;
}
.tile-row:nth-of-type(2) .tile:nth-of-type(6) {
  display: none;
}
.tile-row:nth-of-type(2) .tile:nth-of-type(5) {
  display: none;
}
.tile-row:nth-of-type(2) .tile:nth-of-type(4) {
  display: none;
}
.tile-row:nth-of-type(3) .tile:nth-of-type(6) {
  display: none;
}
.tile-row:nth-of-type(3) .tile:nth-of-type(5) {
  display: none;
}
.tile-row:nth-of-type(3) .tile:nth-of-type(4) {
  display: none;
}
.tile-row:nth-of-type(3) .tile:nth-child(3) {
  opacity: 0;
  animation: flame 4s infinite;
  background-color: orange;
}
@keyframes flame {
  0%{
    opacity: 0;
    height: 30px;
    width: 30px;
  }
  25% {
    opacity: 1;
    height: 40px;
    width: 40px;
  }
  50% {
    opacity: 0;
     height: 30px;
    width: 30px;
  }
  75% {
    opacity: 1;
    height: 40px;
    width: 40px;
  }
  100% {
   opacity: 0;
  }
}
.tile-row:nth-of-type(4) .tile:nth-of-type(6) {
  display: none;
}
.tile-row:nth-of-type(4) .tile:nth-of-type(5) {
  display: none;
}
.tile-row:nth-of-type(4) .tile:nth-of-type(4) {
  display: none;
}
.tile-row:nth-of-type(4) .tile:nth-of-type(3) {
  display: none;
}
.tile-row:nth-of-type(4) .tile:nth-of-type(2) {
  display: none;
}


/*
*  Mail Chimp Subscription
**/

#mc_embed_signup {
  position: absolute;
  border-radius: 4px;
  border: 4px solid $lexOrange;
  box-shadow: $close-shadow;
  padding: 8px;
  background:#000;
  color: #fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:40%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  @include wide-laptop {
    width:63%;
    transform: translateX(-35%);
  }
  @include mini-pad {
   transform: translateX(-50%);
  }
  @include lg-mini-mobile {
    transform: translateX(-56%);
  }
 #mc-embedded-subscribe {
  background-color: $lexOrange;
  }
}

.site-desc {
  font-size: 19px;
  font-weight: bold;
}





@import "highlights";
@import "svg-icons";
