
<!--External scripts -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script> 


  <script src="https://unpkg.com/esprima@~4.0/dist/esprima.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>

<!--Custom scripts -->

<script src="{{ '/assets/js/dancing-logo.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scroller.js' | relative_url }}"></script>

