


<div id='lex-wrapper'>
    <nav id='lex-nav'>
      <div class='speech-bubble'><p></p></div>
      <img src='lex-logo.png' alt="Lex logo" id='lex-logo' />
      <div id="talk" class='btn'>
       <i class="material-icons">rss_feed</i>
       <p>Talk</p>
     </div>
     <div id="run" class='btn'>
       <i class="material-icons">play_arrow</i>
       <p>Run</p>
     </div>
     <p id='brand'>LEX</p>
    </nav>
    <div id='lex-container'>
      <div id='editor'>
      </div>
      <div id='iframe'>
        <div class='output-row'>
          <i class="material-icons">chevron_right</i>
          <p class='output'></p>
        </div>
      </div>
    </div>
    <footer id='lex-foot'>
      <div class='bug-report'>
        <i class='material-icons'>bug_report</i>
        <p class='bugput'></p>
      </div>
    </footer>
  </div>
 