---
layout: sticky
---

<!-- <p class="more blk">More Posts</p>
   <div class="archive blk">
  {% for post in site.posts %}
    <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
  {% endfor %}

 <h1 class='fp-title'>{{ page.title }}</h1>
 <div class="date">
		Written on {{ page.date | date: "%B %e, %Y" }}
 </div>
  </div> -->
<div id="main" role="main" class="fp-container wrapper">

	  <div id='lex-wrapper'>
	  	<div id='lex-b'>
        <div class='speech-bubble'><p></p></div>
        <img src='{{site.baseurl}}/images/lex-logo.png' alt="Lex logo" id='lex-logo' />
        <nav id='lex-nav'>
          <div id="talk" class='btn'>
            <i class="material-icons">rss_feed</i>
            <p>Talk</p>
          </div>

          <p id='brand'>LEX</p>
        </nav>
        <div id='lex-container'>
          <div markdown="1" id='lex-content'>

							<i class="material-icons resize-width" alt='resize'>aspect_ratio</i>
              <i class="material-icons resize-height">aspect_ratio</i>
						{{content}}
          </div>
          <div id='editor'>
          </div>
          <div id='iframe'>
          <div class='output-row'>
            <div class='log'></div>
          </div>
          <div class='output-row'>
            <i class="material-icons c-arrow">chevron_right</i>
            <p class='output'></p>
          </div>
        </div>
       </div>
       <footer id='lex-foot'>
         <div class='bug-report'>
           <i class='material-icons'>bug_report</i>
           <p class='bugput'></p>
         </div>
				 <div id="run" class='btn'>

					 <p>Run</p>
				 </div>
       </footer>
     </div>
     </div>



	<!-- <aside class="adbar col-1-4">
	{% for post in site.posts %}

  {% endfor %}
   </aside> -->
</div>
