<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
    
  </head>
  <body> 
    <!-- <div class='s-nav'>  
      <a class="s-brand" href="{{ site.baseurl }}/">HowToCode</a>
     
    </div> -->
     <a href="{{ site.baseurl }}/"><img class="site-logo fix" src="{{site.baseurl}}/images/hjslogosm.png" /> </a>
    <!-- <div class='ad-hero'>

    </div> -->
  
    <!-- Main Content for pages -->
    
      {{ content }}
    
    <div class="wrapper-footer">
      <img class="logo-footer" src="{{site.baseurl}}/images/hjslogosm.png" />
     <div class="blk"></div>
      <div class="container">
        <footer class="footer">
          <span>&copy All Rights Reserved 2018 howtocodejs.com</span>
          <span><a href="https://termsfeed.com/terms-conditions/2460b3ff454f533c4d29560443c83d8b">Terms and Conditions</a></span>
          <span><a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a></span>
        </footer>
      </div>
    </div>
    {% include scripts.html %}
    {% include analytics.html %}
  </body>
</html>
